@charset "UTF-8";

/*
    #c5ebd6
    #83e1ad
    #3ddc84
    #2fa866
    #1a5c37
    #063d1e

*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sacramento&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url('fontes/idroid.otf') format('opentype') ;
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c5ebd6; 
    /*overflow-x: hidden;*/
    word-wrap: break-word;
    margin: 0px;

}

header {
    background-image: linear-gradient(255, 255, 255);
    background-image: linear-gradient(to bottom, #06f787,  #000000, #002413, #011f11, #000000);
    background-attachment: fixed;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.418);
    margin: 0px;
    font-family: 'Bebas Neue', sans-serif;

}

header > h1 {
    color: rgba(255, 255, 255, 0.897);
    text-align: center;
    padding: 15px;
   
}

header > p {
    color: rgba(255, 255, 255, 0.897);
    text-align: center;
    padding: 0px 0px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
nav {
    background-color: #004223;
    padding: 5px;
}

nav > a {    
    color: rgba(255, 255, 255, 0.897);
    text-decoration: none;
    padding: 20px;
    font-weight: bold;

}

main {
    background-color: #ffffff;
    width: 800px;
    margin: auto;
    padding: 10px;
    border-radius: 0px 0px 8px 8px;
    
}

.droid {
    font-family: 'Idroid' ,Arial;
    color:  #016939;
}

.destaque {
    background-color: #00b6614f;
}

.destaquetx {
    color: #016939;
    font-weight: bold;
    text-decoration: none;
}

.image {
    text-align: center;
   
}

h3 {
    background-color:#05B162 ;
    padding: 8px;
    color: white;
    border-radius: 8px 8px 0px 0px; 
    margin: 0px;
    box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.24);
}

.extra {
    background-color: #8df7bd8c;
    border-radius: 0px 0px 8px 8px;
    padding: 1px 0px 8px 8px;
    margin: 0px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.24);
}

iframe {
    margin-bottom: 5px;
}

ul {
    display: inline-block;
}

footer {
    background-color: #004223;
    padding: 10px;
    margin: 20px 0px 0px 0px;
    text-align: center;
    color: white;
    
}

footer > p {
    margin: 0px;
}